<footer class="example-2">
    <div class="content site-footer--content">
      <div class="footer-left">
        <img class="logo_footer" src="./public/css/logo.png" alt="logo">
        <p>Обратная связь очень важна для нас! Мы всегда рады услышать ваше мнение о нашем сайте онлайн библиотеки. 
            Если у вас есть предложения по улучшению работы сайта, замечания или просто хотите поделиться своими впечатлениями, пожалуйста, напишите нам. 
            Мы внимательно изучим ваше сообщение и обязательно учтем ваше мнение в дальнейшей работе.</p>
      </div>
      <div class="footer-right">
            <address>
                <p>Моя почта: <a href="">sanajbajzunov1@gmail.com</a></p>
                <p>Я в VK: <a href="https://vk.com/kapustes7287">kapustes7287</a></p>
                <p>Я в Telegram: <a href="">@Agent_hamster</a></p>
                <p>Телефон: <a href="">+7 913 995 12 34</a></p>
            </address>

      </div>
    </div>
    <div class="copyright-notice">
      <p>© <time datetime="2023">2023,</time> All rights reserved by Sunny Еxpanse</p>
    </div>
  </footer>